<div class="row justify-content-center">
  <div class="col-12 col-lg-7">
    <div class="card shadow-sm">
      <div class="card-body p-4">
        <h1 class="h4 mb-3">Modifica obiettivo – <%= @customer.full_name %></h1>
        <%= render "form", objective: @objective %>
      </div>
    </div>
  </div>
</div>
