<div class="row justify-content-center">
  <div class="col-12 col-lg-9">
    <div class="card shadow-sm">
      <div class="card-body p-4">
        <h1 class="h4 mb-3">Modifica appuntamento - <%= @customer.full_name %></h1>
        <%= render "form" %>
      </div>
    </div>
  </div>
</div>
